<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
    
    <h2>Please Enter Your User Name and Password</h2>
    <form action="/sendmessage" method="post">
      <label>User</label><input type="text" name="user">
      <label>Password</label><input type="password" name="password">
      <input type="submit"  value="Submit">
    </form>
  </body>
</html>
